<!-- Sitenin üstü -->
	<header id="site-ustu">
	<div class="arkaplan-hilesi"></div>
	<div class="ana-wrap">
		<!-- Profil Kartı -->
		<div class="profil-karti">
		<figure class="profil-resmi">
		<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAdqAAAAJGFiZTE1MDgxLTRmZjgtNDBiMi04NTliLTQ1MmQ3ZTZkNTlhZQ.jpg" alt="Ömer Karahan" title="Profil Resmi" />
		</figure>
		<div class="profil-detaylari">
		<h1 class="profil-ismi">ÖMER KARAHAN</h1>
		<span class="profil-unvan">Makina-e Mühendisi* / PHP Developer</span>
		</div>
		<span class="ikon-asagi-dogru"></span>
		<!-- İletişimi bilgilerim @o3karahan 22.01.2017 ; 17:02 -->
		<div class="iletisim-bilgileri">
		<ul>
		<li class="baslik">Platform Hesaplarım</li>
		<li class="standart"><a href="http://facebook.com/o3karahan" title="Ömer Karahan'ın Facebook Hesabı">http://facebook.com/o3karahan</a></li>
		<li class="standart"><a href="http://twitter.com/o3karahan" title="Ömer Karahan'ın Twitter Hesabı">http://twitter.com/o3karahan</a></li>
		<li class="standart"><a href="http://instagram.com/o3karahan" title="Ömer Karahan'ın İnstagram Hesabı">http://instagram.com/o3karahan</a></li>
		<li class="standart"><a href="https://tr.linkedin.com/in/o3karahan" title="Ömer Karahan'ın Linkedin Hesabı">https://tr.linkedin.com/in/o3karahan</a></li>
		<li class="standart"><a href="https://grabcad.com/omer.karahan-2" title="Ömer Karahan'ın GrabCAD Hesabı">https://grabcad.com/omer.karahan-2</a></li>
		<li class="standart"><a href="https://plus.google.com/115696628227205836104" title="Ömer Karahan'ın GPlus Hesabı">https://plus.google.com/115696628227205836104</a></li>
		<li class="standart"><a href="https://youtube.com/o3karahan" title="Ömer Karahan'ın Youtube Hesabı">https://youtube.com/o3karahan</a></li>
		<li class="baslik">Email Hesaplarım</li>
		<li class="standart"><a href="mailto:omer.karahan.tr@gmail.com" title="Ömer Karahan'ın Birinci Eposta Hesabı">omer.karahan.tr@gmail.com*</a></li>
		<li class="standart"><a href="mailto:iletisim@omerkarahan.com.tr" title="Ömer Karahan'ın İkinci Eposta Hesabı">iletisim@omerkarahan.com.tr</a></li>
		<!-- Youtube Kartım -->
		</ul>
		</div>
		</div>
	</div>
	</header>