<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.sahibi.twitter }}" />
{% if page.title %}<meta property="twitter:title" content="{{ page.title }}">{% else %}<meta property="twitter:title" content="{{ site.title }}">{% endif %}
<meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />
{% if page.image %}<meta property="twitter:image" content="{{ site.url }}/{{ page.image }}">{% else %}<meta property="twitter:image" content="{{ site.url }}/{{ site.sahibi.resim }}">{% endif %}
