
/*------------------------------------------------------------------
[ DETAYLAR ]

* Wrap boyutu maksimum 960px olacaktır. 960/2 = 480 960/3 = 360 960/4 = 240 
* Sağ bölüm maksimum wrap boyutunun 1/3'ü kadar olacaktır.
* Üst bölümde Resim ve bir adet kişi tanıtım yeri olacaktır.
* Görünüm sade ,LinkedIN tarzı olacaktır.
* Ana Paletim ve diğer tasarım detaylarım /_detay klasöründe yer alacaktır.
* Resimlerim /_image klasöründe yer alacaktır.
* Fontum ve CSS aynı klasörde yer alacak ve /_fonts olackatır.
* Font aracı olarak icomoon kullanılacaktır. http://icomoon.io
* JS kodları sayfanın sonunda yer alacaktır , kesinlikle.

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ SİTE YAPISI ]
Header#site-üstü.ana-wrap
div#site.ana-wrap 
->aside#site-sag.sag-wrap
--> div#widget
---> ...
->Section#site-sol.sol-wrap
--> Article#yazi-{slug}
---> Header.yazi-üstü
----> Title.yazi-basligi
----> Title.yazi-metasi
---> div#yazi-icerigi
---> footer#yazi-yorumlari

-------------------------------------------------------------------*/

@font-face {
  font-family: 'icomoon';
  src:  url('yazi_tipleri/icomoon.eot?icyda8');
  src:  url('yazi_tipleri/icomoon.eot?icyda8#iefix') format('embedded-opentype'),
    url('yazi_tipleri/icomoon.ttf?icyda8') format('truetype'),
    url('yazi_tipleri/icomoon.woff?icyda8') format('woff'),
    url('yazi_tipleri/icomoon.svg?icyda8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ikon-"], [class*=" ikon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ikon-saga-dogru:before {
  content: "\e900";
}
.ikon-sosyal-facebook:before {
  content: "\ea91";
}
.ikon-sosyal-instagram:before {
  content: "\ea92";
}
.ikon-sosyal-youtube:before {
  content: "\ea9d";
}
.ikon-asagi-dogru:before {
  content: "\e901";
}
.ikon-ince-sag:before {
  content: "\e903";
}
.ikon-ince-sol:before {
  content: "\e902";
}
.ikon-daha-fazlasi:before {
  content: "\e904";
}
.ikon-sosyal-youtube-2:before {
  content: "\ea9e";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
	
	font-size:62.5%; /* 10px tekabil ediyor. */
	
}
h1 { font-size:3.5rem; }
h2 { font-size:3rem; }
h3 { font-size:2.5rem; }
h4 { font-size:2rem; }
h5 { font-size:1.5rem; }
a,img,#site-ustu .profil-karti { 

	text-decoration:none; 
	color:#008cc9;
	 /* Firefox */
    -moz-transition: all 0.25s ease-in;
    /* WebKit */
    -webkit-transition: all 0.25sease-in;
    /* Opera */
    -o-transition: all 0.25s ease-in;
    /* Standard */
    transition: all 0.25s ease-in;
	
}
a:hover {color:#444444;}
.ana-wrap {
	
	width:100%;
	max-width:1128px;
	height:auto !important;
	margin:0 auto;
	padding:0;
	position:relative;
	
}

.temizle:after,
#site-ustu:after,
body#site-govde:after,
#site-icerigi:after,
#site-sag article:after,
#site-sol .widget:after,
.grabcad-projeleri:after,
.ana-wrap:after,
#site-video:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

body#site-govde {
	
	font-size:100%;
	background:#eee;
	margin:0;
	padding:0;
	color:#444444;
	font-family: 'Open Sans', sans-serif;
	background:#e9e9e9 url('resimler/arkaplan.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#site-ustu {
	
	background:transparent;
	color:#ffffff;
	clear: both;	
	position:relative;
	
}
#site-ustu .ana-wrap {
	
	/* Kartın width 33.33% fiksliyorum @o3karahan */
	border-right:0px solid transparent;
	
	
}
#site-ustu .arkaplan-hilesi { 

	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#303336;
	zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.75;
	background-image: -webkit-linear-gradient(top, #000000,#303336);
    background-image: -moz-linear-gradient(top, #000000,#303336);
    background-image: -o-linear-gradient(top, #000000,#303336);
    background-image: linear-gradient(top, #000000,#303336);

}

#site-ustu .profil-karti {
	
	float:left;
	width:33.33%;
	display:table;
	margin:5em 0 0 0;
	background:#fff;
	border-bottom:0.1em solid #e0e0e0;
	position:relative;
}
	
	figure.profil-resmi { 
	
		
		
	
	}
	figure.profil-resmi img {
		
		display:table-cell;
		width:100%;
		height:100%;
		vertical-align:middle;
		padding:1em;
	
	}
	
	.profil-detaylari { 
	
		font-family: 'Roboto', sans-serif; 
		padding:2em 2em 2em 2em; 
		width:80%;
		overflow:hidden;	
		display:table-cell;
		vertical-align:middle;
		
	}
	h1.profil-ismi {
		
		color:#444;
		display:block;
		font-size:2em;
	}
	span.profil-unvan {
		
		font-family: 'Open Sans', sans-serif;
		font-weight:300;
		font-size:1.2em;
		color:#666;
		display:block;
		line-height:1.6;
	}
	
	.profil-karti .ikon-asagi-dogru {
		
		position:absolute;
		right:1em;
		top:50%;
		margin-top:-0.5em;
		font-size:2em;
		color:#008cc9;
		
	}
	.profil-karti .iletisim-bilgileri {
		
		border-top:0.1em solid #2b5ac5;
		position:absolute;
		top:100%;
		left:0;
		width:100%;
		/* Fixliyorum border için */
		margin-top:0;
		z-index:5;
		background:#008cc9;
		color:#fff;
		display:none;
		box-shadow:0 0 0 0, 0 0.5em 1em rgba(66,66,66,0.1);
		
	}
	.profil-karti .iletisim-bilgileri>ul {
		
		list-style:none;
		padding:0;
		margin:0;
		text-align:center;
		
	}
	.profil-karti .iletisim-bilgileri>ul li.baslik {
		
		font-size:1.6em;
		background:#008cc9;
		color:#fff;
		padding:1em 2em 1em 2em;
		border-bottom:0.1em solid #2b5ac5;
		
	}
	.profil-karti .iletisim-bilgileri>ul li.standart {
		
		font-size:1.4em;
		background:#fff;
		border-bottom:0.1em solid #e0e0e0;
		padding:1em 2em 1em 2em;
		color:#444;
		
		
	}

	
	
	#site-ustu .profil-karti:hover {
		
		background:#008cc9;
		border-bottom-color:transparent;
		box-shadow:0 0 0 0, 0 1em 2em rgba(66,66,66,0.25);
		
	}
	
	#site-ustu .profil-karti:hover span.profil-unvan,
	#site-ustu .profil-karti:hover h1.profil-ismi,
	#site-ustu .profil-karti:hover span.ikon-asagi-dogru	{
		
		color:#fff;
		
	}
	#site-ustu .profil-karti:hover .iletisim-bilgileri {
		
		display:block;
		
	}


	.profil-linkedin {
		
		display:block;
		width:100%;
	}
	.profil-linkedin a,
	a.devamini-goruntule-buton,
	a.grabcad-link {
		
		font-family:'Roboto', sans-serif;
		font-size:1.5rem;
		display:inline-block;
		vertical-align:middle;
		background:#008cc9;
		color:#fff;
		padding:0.75em 1.5em 0.75em 1.5em;
		margin-top:0.5em;
		/*
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		*/
		
	}
	.profil-linkedin a:hover,
	a.devamini-goruntule-buton:hover,
	a.grabcad-link:hover{
		
		background:#126b92;
		color:#fff;
		
	}

#site-icerigi { 

	background:#fff;
    border: 1px solid #D0D3D6;
	border-top-width:0;
    word-wrap: break-word;
	margin:0 0 2em 0;
	padding:3em 1em 4em 0;
	/*
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	*/
	width:100%;
	

}	

.sol-wrap {
	
	width:33.33%;
	float:left;
	
}
.sag-wrap {
	
	width:66.669%;
	float:right;

}

#site-sol ul{
	
	margin:0;
	list-style:none;
	padding-right:1em;
	font-family: 'Roboto', sans-serif;
	
}

#site-sol ul li {
	
	font-size:2rem;
	padding:1rem;
	border-bottom:0.1rem solid #e0e0e0;
	text-align:right;
	line-height:1.5;
	overflow: hidden;
    white-space: nowrap;
}
#site-sol ul li a {
	
	color:#444444;
	
}
#site-sol ul li a:hover {
	
	color:#008cc9
	
}

#site-sol .widget { 
	
	margin-bottom:1em;
	
}
#site-sol .widget-grabcad { text-align:center; }
#site-sol .widget-grabcad .grabcad-projeleri {
	
	padding-left:3em;
	padding-right:2em;
	padding-top:1em;
}

#site-sol .widget-grabcad .grabcad-projesi {
	
	float:left;
	width:25%;
	height:25%;
	padding:0.5em;
	
}

#site-sol .widget-grabcad .grabcad-projesi img {
	
	width:100%;
	height:100%;
	max-height:10rem;
	border:2px solid;
	border-color:#fff;
	
}
#site-sol .widget-grabcad a:hover img {
	
	border-color:#f43;
	
}
#site-sol span.grabcad-nedir {
	
	display:block;
	font-size:1.4em;
	padding:1em 3em 1em 3em;
	line-height:1.6;
	text-align:center;
	font-weight:300;
	
}
#site-sol a.grabcad-link {
	
	background:#f43;
	
}
#site-sol a.grabcad-link:hover { background:#cc4d41;} 
#site-sol .widget-adsense-esnek {
	
	padding:1em 1em 1em 2em;
	
}
#site-sol,#site-sag {
	
	padding-bottom:4em;
	
}
#site-sag {
	
	margin:0;
	padding-left:1em;
	
}

#site-sag article {
	
	padding:2em 1em 2em 0;
	border-bottom:0.1rem solid #e0e0e0;
	
}
#site-sag article.tekil { border:0; }
#site-sag article:nth-child(1) { padding-top:1em; }
#site-sag h2.yazi-basligi {
	
	display:block;
	font-size:3em;
	line-height:1.5;
	font-family: 'Roboto', sans-serif;
	color:#444444;
	
}
#site-sag article.tekil h2.yazi-basligi a,
#site-sag article h2.yazi-basligi a:hover { border-bottom:1px dotted #e0e0e0; }
#site-sag article.tekil h2.yazi-basligi a {
	
	color:#444;
	
}
#site-sag .yazi-icerigi {
	
	margin-top:1em;
	font-size:1.6em;
	line-height:1.8;
	
}

#site-sag .yazi-icerigi a {
	
	border-bottom:1px dotted #e0e0e0;
	display:inline-block;
	
}
#site-sag .yazi-icerigi img {
	
	max-width:100%;
	height:auto;
	margin:1em auto 1em auto;
	position:relative;
	display:block;
	
	
}

#site-sag article p {
	
	margin:1em 0 1em 0;
	
}
#site-sag article p:nth-child(1) {
	
	margin-top:0;
	
}
#site-sag .yazi-icerigi blockquote {
	
	font-size:2rem;
	font-family:'Open Sans',sans-serif;
	font-weight:300;
	font-style:italic;
	padding:2em;
	margin:1em 0 1em 0;
	background:#f8f8f8;
	
}
#site-sag .yazi-icerigi>ul {
	
	padding:1em 0 1em 2em;
	list-style-type:square;
	
}
#site-sag .yazi-icerigi>ul li {
	
	margin-top:1em;
	
}
#site-sag .yazi-icerigi>ul li:nth-child(1) {
	
	margin-top:0;
	
}
#site-sag table, th, td {
	
   border: 1px solid #e0e0e0;
   margin:1em 0 1em 0;
   vertical-align:middle;
}
#site-sag table {
    border-collapse: collapse;
	width:100%;
	background:#f8f8f8;
}
#site-sag table th,
#site-sag table td {
	
	padding:1em;
	text-align:left;
	
}
#site-sag table th {
	
	background:#444;
	color:#fff;
	
}
#site-sag table.kirmizi th {
	
	background:#e52d27;
	
}
#site-sag table tr:nth-child(2n) {
	
	background:#e8e8e8;
	
}
#site-sag table td {
	
	padding:0.75em 1em 0.75em 1em;
	
}

#site-sag .devamini-goruntule {
	
	margin-top:1em;
	
}

#site-sag .devamini-goruntule .devamini-goruntule-buton {
	
	border-radius:0;
	position:relative;
	float:right;
	margin-right:-0.7em;
	
}
#site-sag .devamini-goruntule .ikon-saga-dogru {
	
	font-size:2.5em;
	vertical-align:middle;
	margin-left:0.5em;
	
}

/* VİDEO POST İÇİN DÜZENLEME */
#site-video {
	
	width:100%;
	background:#e8e8e8;
	padding:0;
	
}
#site-video .sag-wrap {
	
	position:relative;
	min-height:30rem;
	
}
#site-video iframe {
	
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	
}
#site-video span.ikon-sosyal-youtube-2 {
	
	color:#fff;
	font-size:3em;
	display:block;
	text-align:center;
	padding:2rem 0 2rem 0;
	
}
#site-video .sag-wrap,#site-video .sol-wrap { border:0 }

footer#yorumlar {
	
	width:100%;
	border-top:1px solid #e0e0e0;
	padding:2em;
	margin-top:4em;
	background:#fff;
	
}


#site-alti .ana-wrap{
	
	padding:1em 2em 1em 2em;
	text-align:center;
	
}

/* Responsiv Ayarlar */
@media only screen and (max-width: 860px) {
	
	#site-ustu .profil-karti {
		
		width:44.44%;
		
	}
	
	.sol-wrap {
		
		width:25%;
		
	}
	.sag-wrap {
		
		width:75%;
		
	}
	#site-sol .widget-grabcad .grabcad-projeleri {
	
	padding-left:2em;
	padding-right:1em;
	padding-top:1em;
	}
	#site-sol .widget-grabcad .grabcad-projesi { padding:0.1em }
	#site-sol ul li { font-size:1.5rem }
	#site-sol span.grabcad-nedir { font-size:0.9rem }
	a.grabcad-link { font-size:1.25rem }
	/* Video için fix ekliyorum .*/
	#site-video .sol-wrap {
		
		display:none;
		width:0%;
		
	}
	#site-video .sag-wrap {
		
		width:100%;
		padding-left:3em;
		padding-right:1em;
		
	}
	
	
	#site-icerigi {
		
		border-left-width:0;
		border-right-width:0;
		
	}
	
}
@media only screen and (max-width: 640px) {
	
    html {
        font-size:49.2%;
    }
	#site-ustu .profil-karti {
		
		width:55.55%;
		
	}
	#site-sol .widget-grabcad .grabcad-projesi { width:100% }
	#site-sol ul li { font-size:1.25rem }
	#site-sol span.grabcad-nedir { font-size:0.65rem }
	a.grabcad-link { font-size:1rem }
}

@media only screen and (max-width: 480px){
	
	 html {
        font-size:39.41%;
	}
	
	#site-ustu .profil-karti {
		
		width:66.66%;
		
	}
	#site-icerigi {
		
		border-left-width:0;
		border-right-width:0;
		
	}
	
	#site-sol ul li { font-size:1rem }
	#site-sol span.grabcad-nedir { font-size:0.4rem }
	a.grabcad-link { font-size:0.75rem }
	
}

@media only screen and (max-width: 320px) {
	
	html {
        font-size:29,6%;
	}
	.ana-wrap {
		
		padding-left:2em;
		padding-right:2em;
		
	}
	#site-ustu .profil-karti {
		
		width:100%;
		
	}
	#site-icerigi {
		
		padding-right:0;
		
	}
	.sol-wrap {
		
		display:none;
		width:0%;
		
	}
	.sag-wrap {
		
		width:100%;
		padding-left:3em;
		padding-right:1em;
		
	}
	
	#site-icerigi article {
		
		text-align:center;
		padding-right:0;
		
	}
	
}

