---
layout: varsayilan
---
<!-- Sitenin sağ tarafı -->
<section id="site-sag" class="sag-wrap">
 {% for post in paginator.posts %}
	<article id="yazi-{{ post.slug }}"  >
	<header class="yazi-ustu">
	<h2 class="yazi-basligi"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
	</header>
	<div class="yazi-icerigi">
	{{ post.content | split:'<!--dahafazla-->' | first }}
	</div>
	</article>
	{% endfor %}
	 {% if paginator.next_page %}
	<footer class="devamini-goruntule">
	<a href="/sayfa/{{paginator.next_page}}" class="devamini-goruntule-buton"><span class="ikon-saga-dogru"></span></a>
	</footer>
	{% endif %}
</section>
